@model WebApplicationShoeSizeConverter.Models.ShoeSizeViewModel

@{
    ViewBag.Title = "Convert";
}

<h2>Convert</h2>

<div>
    <h4>ShoeSizeViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SizeInCentimeters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeInCentimeters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
